@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <div class="container my-5">
        <h2 id="title" class="display-4 text-center text-primary">Contacto</h2>


        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h5 class="card-title">Nuestra Ubicación</h5>
                        <address>
                            <p>
                                <strong>Dirección:</strong><br />
                                Ciudad Quesada, San Carlos<br />
                                Costa Rica
                            </p>
                            <p>
                                <strong>Telefono</strong> +506 2451-2345
                            </p>
                        </address>

                        <h5 class="card-title mt-4">Contáctanos</h5>
                        <address>
                            <p>
                                <strong>Soporte:</strong>
                                <a href="mailto:Support@gmail.com">Soporte@gmail.com</a>
                            </p>
                            <p>
                                <strong>Marketing:</strong>
                                <a href="mailto:Marketing@gmail.com">Marketing@gmail.com</a>
                            </p>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>