@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container text-center my-5">
        <div class="bg-light p-5 rounded shadow">
            <h1 class="display-4 text-primary">¡Bienvenido a <span class="fw-bold">Tasty New</span>!</h1>
            <p class="lead">Descubre un lugar donde la tradición y la innovación se mezclan para deleitar tus sentidos.</p>
        </div>
    </div>

    <div class="container my-5">
        <div class="row g-4">
            <div class="col-md-6">
                <img src="~/Images/Carne.jpg" alt="Plato Tasty New" class="img-fluid rounded shadow" style="height: 500px; object-fit: cover;">

            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <h2 class="text-secondary">Nuestra Filosofía</h2>
                    <p>En Tasty New, creemos que la buena comida empieza con los mejores ingredientes. Nuestro equipo de chefs apasionados crea cada plato con un toque especial para brindar una experiencia inolvidable.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container text-center my-5">
        <div class="bg-dark text-white p-5 rounded shadow">
            <h2 class="mb-4">¡Reserva tu mesa ahora!</h2>
            <p class="lead">No te pierdas la oportunidad de disfrutar una experiencia única en Tasty New. Reserva con antelación y prepárate para saborear lo mejor.</p>
            <a href="/Reservaciones/AgregarReservacion" class="btn btn-primary btn-lg">Reservar Ahora</a>
        </div>
    </div>
</main>